.note-container {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
  gap: 20px 20px;
  /*grid-template-areas:*/
  /*  ". . ."*/
  /*  ". . ."*/
  /*  ". . ."*/
  /*  ". . .";*/
}
@media (min-width: 640px) {
  .note-container{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (min-width: 920px) {
  .note-container{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (min-width: 1200px) {
  .note-container{
    grid-template-columns: repeat(4,1fr);
  }
}
@media (min-width: 1800px) {
  .note-container{
    grid-template-columns: repeat(5,1fr);
  }
}
@media (min-width: 2200px) {
  .note-container{
    grid-template-columns: repeat(6,1fr);
  }
}
.note-button{
  margin: 5px;
}
