<div style="vertical-align: middle; text-align: center"><h2>PostIT Notes</h2></div>
<button mat-raised-button color="primary" (click)="getAllNotes()">
  <mat-icon> check_circle</mat-icon>
  Get All Notes
</button>
<button mat-raised-button color="primary" (click)="getNote('2')"> Get Note</button>
<button mat-raised-button color="primary" (click)="addNote()">
  <mat-icon> check_circle</mat-icon>
  Add Note
</button>
<button mat-raised-button color="primary" (click)="getNote('1')">
  <mat-icon> check_circle</mat-icon>
  Edit Note
</button>
<button mat-raised-button color="primary" (click)="getNote('3')">
  <mat-icon> check_circle</mat-icon>
  Remove Note
</button>

<div class="note-container">

  <div class="" *ngFor="let note of this.allNotes">
    <app-note [note]="note"></app-note>
  </div>

</div>




